@use '@/app/styles/variables' as *;

.card {
  display: grid;
  gap: 12px;
  padding: 20px;
}

.content {
  display: grid;
  gap: 6px;
}

.title {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: $color-text-primary;
}
